.headerLogo{
    height: 40px;
    min-width: 40px;
    width: 40px;
    img{
        display: block;
        width: 100%;
        height: 100%;
    }
}
.messageBar_right{
    margin-left: 15px;
    align-items: center;
    color: #696969;
    overflow: hidden;
    .message_content{
        display: block;
        font-size: 14px;
        color: #aaaaaa;
        width: 100%;
        overflow:hidden;
        text-overflow:ellipsis; 
        white-space: nowrap;/*加宽度width属来兼容部分浏览*/
    }
    .message_username{
        display: block;
        
    }
}

.am-list-extra{
    // display: none;
    width: 20px;
}